*{
    margin:0;

}
.home img{
    height:100vh;
    background-size: cover;
    width:100%;
    position: relative;
    /* opacity: 0.8; */
}

nav{
    
    
    background-color: rgb(27, 26, 26);
    width:100%;
    opacity:0.5;
    position:fixed;
    top:0;
    z-index: 100;
    
}
.nav_link ul{
    list-style: none;
    padding:0;

    
}
.nav_link li{
    float: left;
    padding:30px;
    /* margin:20px; */
    
    
}
li a{
    text-decoration: none;
    color: blanchedalmond;
    font:bold;
}
nav img{
    position: absolute;
    right:0;
    top:0;
    bottom:0;
    padding: 0;
    margin: 0;
    

}
.welcom{
position: absolute;
top: 200px;
left:0;
background-color: rgb(181, 222, 253);
color:rgb(12, 1, 3);
opacity:0.55;

padding:50px;
font-size:30px;
}
/* login page */
.container{
    margin:0;
    padding:0;
    height:100vh;
    position: relative;
    background-color: #b6bfce;
    /* position: absolute;
    left: 50%;  */

    
}
.Login{
    
   position:absolute; 
    top:50%;
    left:50%;
    width: 400px;
    transform: translate(-50%,-50%);
     background-color: rgb(53, 117, 133); 
    border-radius: 10px;
    
    
}
.Login h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}
.Login form{
    padding: 0 40px;
    box-sizing: border-box;
}
form .text_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}
.text_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background:none;
    outline: none;
}
.text_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50);
    pointer-events: none;
    transition: .5s;
}


.btn{
    padding:10px;
    width:100%;
    background-color:#9198e5;
    color: #ce1616;
    border-radius: 20px;
    border:#adadad;
    margin-top:20px;

}
.pass{
    
    margin-top:10px;
    color: #adadad;
}
.register_link{
    margin:10px;
    text-align: center;
}
/* registration */
.container1{
    height:100vh;
    background-color: #b6bfce;
    position: relative;
    /* position: absolute;
    left: 50%;  */

    
}
.registration{
    background-color: #679bb9;
    width:500px;
    height:80vh;
    position:absolute; 
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius:20px;
    padding-left:10px;
    padding-right:15px ;
    text-align: center;
    
}
.registration h1{
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;

}
.field input{
    width:80%;
    padding:10px;
    background-color: #b6bfce;
    margin:0 0 20px 0;
    border: none;
    border-bottom: 2px solid rgb(40, 51, 83);
    border-radius: 5px;
}
.btn1{
    padding:10px;
    width:80%;
    background-color: #567cbe;
    color: #050404;
    font-weight:bold;
    /* font-size: large; */
    border-radius: 20px;
    border:#adadad;
    margin-top:20px;

}
/* About US */
.about{
    position:relative;
}
.details{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    height:300px;
    background-color:rgba(119, 190, 223, 0.4);
    
     
    
}
.details h1{
   font: 2em sans-serif;
}
.details p{
    font-style: oblique;
    background-color: #96cdf1;
    float: left;
    border-radius:5px;
    padding:25px;
    margin: 15px;
    height:150px;
    
    

}
.clear{
    clear:both;
}

.border1
{
    position: absolute;
     top:40%;
    left: 350px; 
    border: 1px solid black;
    padding:20px;
    border-radius: 5px;
    float: left;

}
.border2
{
    position: absolute;
     top:40%;
    left: 800px; 
    border: 1px solid black;
    padding:20px;
    border-radius: 5px;
    float: left;

}
.border .b{
    float: left;
}
.border p{
    margin-top: 20px;
}

/* thanks bage */
.thanks{
    height: 100vh;
    background-size: cover;
}
/* footer */
.footer{
    text-align: center;
    background-color:rgb(0, 0, 0);
    height:400px;
    opacity: 0.8;
    padding-top: 15px;
}
.contact h2{
    color: aliceblue;
}
.contact .cc{
    background-color: #b6bfce;
    padding: 10px;
    height: 200px;
    border-radius: 5px;
    margin-bottom:20px;
}
.field  input:focus{
    
    outline: 2px solid rgb(42, 106, 245);
    border-radius: 5px;
    
  }
  .btn1:hover{
    background-color:  rgb(42, 106, 245);;
  }
.text_field input:focus ~ label,
.text_field input:valid ~ label{
    top: -5px;
    color: #202020;
}
li:hover{
    background-color: rgb(35, 119, 192);
    
}
.details p:hover{

    /*position: absolute;
    top:-5px;*/
    opacity: 0.7;
    font-size:17px;
    color: #ce1616;
} 

